# Виртуальное окружение
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.hypothesis/

# Дистрибутивы / сборка
*.egg-info/
dist/
build/
*.egg

# база данных
database.db

.env
*.env

*.log
*.py1